<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Testing AJAX</title>
    <header></header>
    <section></section>
  </head>

  <body>
  </body>
    <script>
        var body = document.querySelector('body');
        var tasks;

        function getTasks() {
            var request = new XMLHttpRequest();
            request.open('GET', 'http://tlvericu16.mskcc.org:9000/task');
            request.responseType = 'json';
            request.onload = function () {
                tasks = request.response;
                for (var task in tasks) {
                    var p = document.createElement('p');
                    p.textContent = task + tasks[task]['task'];
                    body.appendChild(p);
                }
            }
            request.send();
        }

        getTasks();

    </script>
</html>